---
import type { HTMLAttributes } from "astro/types";
type BaseProps = HTMLAttributes<"h1"> & {
    as: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "p" | "span" | "div";
    text: string;
    letterClass?: string;
};

type Props = BaseProps;
const { text, as, letterClass, class: className, ...rest } = Astro.props;
const textArray = Array.from(text);
const Element = as;
---

<Element class:list={["text-split", className]} {...rest}>
    {
        // prettier-ignore
        textArray.map((letter, index) => (
            <span class:list={["letter", `letter-${index + 1}`, letterClass]}>{letter}</span>
        ))
    }
</Element>
