---
import PageLayout from "@layouts/PageLayout.astro";
import Card from "@components/Card.astro";
import Link from "@components/Link.astro";
import Gear from "@icons/Gear.astro";
import Lightning from "@icons/Lightning.astro";
import Text from "@icons/Text.astro";
---

<PageLayout>
    <main class="wrapper flow">
        <h1>Learning GSAP</h1>
        <p>
            This is a concurrent learning project learning the GSAP learning library with vanilla
            HTML, CSS and JavaScript.
        </p>
        <p>Here are some other notes about the project:</p>
        <ul>
            <li>
                This project uses Astro for easier development with componennts, scoped styles, and
                easy integrations with libraries and frameworks.
            </li>
            <li>We will go through the basics of GSAP with basic typescript.</li>
            <li>this project uses prettier and eslint for formatting and linting.</li>
            <li>Light usage of SASS is in use, mostly for normalize and global styles.</li>
        </ul>

        <section class="grid grid--col-3 section">
            <!-- GETTING STARTED -->
            <Link url="/getting-started">
                <Card iconBgColor="grey" titleTag="h3">
                    <Gear size={40} slot={"icon"} />
                    <Fragment slot="title">Getting Started</Fragment>
                    <p slot="text">Install for web and ad banners</p>
                </Card>
            </Link>

            <!-- MOVEMENTS -->
            <Card iconBgColor="yellow" titleTag="h3">
                <Lightning slot="icon" size={40} />
                <Fragment slot="title">Movements</Fragment>
                <p slot="text">Translations with timelines</p>
            </Card>

            <!-- TEXT ANIMATIONS -->
            <Card iconBgColor="orange" titleTag="h3">
                <Text slot="icon" size={40} />
                <Fragment slot="title">Text Animations</Fragment>
                <p slot="text">Split, swipes, and more!</p>
            </Card>
        </section>
    </main>
</PageLayout>

<style lang="scss">
    @use "../styles/abstracts" as *;
    .grid {
        display: grid;
        gap: #{rem(20)};
    }
    .grid--col-3 {
        @include breakpoint(600) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
