---
// COMPONENTS
import PageLayout from "@layouts/PageLayout.astro";
import Card from "@components/Card.astro";
// ICONS
import Gear from "@icons/Gear.astro";
import Lightning from "@icons/Lightning.astro";
import Text from "@icons/Text.astro";
import Clock from "@assets/icons/Clock.astro";
import MouseScroll from "@assets/icons/MouseScroll.astro";
---

<PageLayout>
    <main class="wrapper section__padding section__padding--sm">
        <div class="flow">
            <h1>Learning GSAP</h1>
            <p>
                This is a concurrent learning project learning the GSAP learning library with
                vanilla HTML, CSS and JavaScript.
            </p>
            <p>Here are some other notes about the project:</p>
            <ul class="flow">
                <li>
                    This project uses Astro for easier development with componennts, scoped styles,
                    and easy integrations with libraries and frameworks.
                </li>
                <li>We will go through the basics of GSAP with basic typescript.</li>
                <li>this project uses prettier and eslint for formatting and linting.</li>
                <li>Light usage of SASS is in use, mostly for normalize and global styles.</li>
            </ul>
        </div>

        <section class="section--learning section__padding section__padding flow">
            <h2>Start Learning</h2>
            <p>Here are some topics to get you started!</p>
            <div class="grid grid--col-3">
                <!-- GETTING STARTED -->
                <Card link href="/getting-started" class="link--topic" iconBgColor="grey">
                    <Gear size={40} slot={"icon"} />
                    <h3 slot="title">Getting Started</h3>
                    <p slot="text">Installation & boilerplate</p>
                </Card>

                <!-- BASICS -->
                <Card link href="/basics" class="link--topic" iconBgColor="yellow">
                    <Lightning slot="icon" size={40} />
                    <h3 slot="title">Basics</h3>
                    <p slot="text">Properties, tweens, & keyframes</p>
                </Card>

                <!-- TIMELINES -->
                <Card link href="/timelines" class="link--topic" iconBgColor="red" link>
                    <Clock slot="icon" size={40} />
                    <h3 slot="title">Timelines</h3>
                    <p slot="text">Complex tweens</p>
                </Card>

                <!-- TEXT ANIMATIONS -->
                <Card link href="/animations/text" class="link--topic" iconBgColor="orange">
                    <Text slot="icon" size={40} />
                    <h3 slot="title">Text Animations</h3>
                    <p slot="text">Split, swipes, and more</p>
                </Card>
                <!-- SCROLL -->
                <Card link href="/animations/scroll" class="link--topic" iconBgColor="green">
                    <MouseScroll slot="icon" size={40} />
                    <h3 slot="title">Scroll</h3>
                    <p slot="text">Play, scrub & link to scroll</p>
                </Card>
            </div>
        </section>
    </main>
</PageLayout>

<style lang="scss">
    @use "../styles/abstracts" as *;
    .grid {
        display: grid;
        gap: #{rem(20)};
    }
    .grid--col-3 {
        @include breakpoint(600) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>

<script>
    import { gsap } from "gsap";

    window.addEventListener("load", () => {
        gsap.from(".link--topic", {
            opacity: 0,
            xPercent: -5,
            duration: 1,
            stagger: 0.2,
            ease: "power3.out",
        });
    });
</script>
