---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"article"> {
    iconBgColor?: "grey" | "red" | "green" | "blue" | "yellow" | "orange" | "purple" | "pink";
}

const { iconBgColor, class: className, ...rest } = Astro.props;
---

<article class:list={["card", className]} {...rest}>
    {
        // ICON
        Astro.slots.has("icon") && (
            <div class:list={["card__icon", `card__icon--${iconBgColor}`]}>
                <slot name="icon" />
            </div>
        )
    }
    <!-- TEXT -->
    {
        (Astro.slots.has("title") || Astro.slots.has("text")) && (
            <div class="card__text">
                <span class="card__title">
                    <slot name="title" />
                </span>
                <span class="card__description">
                    <slot name="text" />
                </span>
            </div>
        )
    }
</article>

<style lang="scss">
    @use "../styles/abstracts" as *;
    .card {
        --_card-bg-color: var(--clr-zinc-900);
        background-color: var(--_card-bg-color);
        border-radius: var(--bdr-radius);
        padding: #{rem(8)};
        display: flex;
        align-items: center;
        gap: #{rem(24)};
    }

    .card__icon {
        --_icon-bg-color: transparent;
        display: grid;
        place-items: center;
        width: fit-content;
        padding: #{rem(12)};
        border-radius: var(--bdr-radius);
        position: relative;
        isolation: isolate;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: var(--bdr-radius);
            background-color: var(--_icon-bg-color);
            opacity: 0.7;
        }
    }

    // ICON BG MODIFIERS
    .card__icon--grey {
        --_icon-bg-color: var(--clr-slate-800);
    }
    .card__icon--red {
        --_icon-bg-color: var(--clr-red-800);
    }
    .card__icon--green {
        --_icon-bg-color: var(--clr-green-500);
    }
    .card__icon--blue {
        --_icon-bg-color: var(--clr-blue-500);
    }
    .card__icon--yellow {
        --_icon-bg-color: var(--clr-yellow-700);
    }
    .card__icon--orange {
        --_icon-bg-color: var(--clr-orange-700);
    }
    .card__icon--purple {
        --_icon-bg-color: var(--clr-purple-500);
    }
    .card__icon--pink {
        --_icon-bg-color: var(--clr-pink-500);
    }

    // TEXT
    .card__title:global(> *) {
        font-size: var(--fs-fluid-h6);
    }
    .card__description:global(> *) {
        font-size: var(--fs-mobile-sm);
    }
</style>
