---
import type { HTMLAttributes } from "astro/types";

export interface LinkProps extends HTMLAttributes<"a"> {
    external?: boolean;
    preset?: "link--text-light" | "link--text-dark";
}

type Props = LinkProps;
const { external = false, class: className, preset, ...rest } = Astro.props;
---

<a
    target={external ? "_blank" : null}
    rel={external ? "noreferrer noreferer" : null}
    class:list={["link", className, preset]}
    {...rest}
>
    <slot />
</a>

<style lang="scss">
    .link {
        text-decoration: none;
        color: inherit;

        &:global(> *) {
        }
    }
</style>
