---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout>
    <main class="wrapper">
        <h1>Getting Started: Installation</h1>
        <p>Installation can be interpreted into two major sections:</p>
        <ol>
            <li>
                <a href="#webProjects">Websites and web apps utilizing package managers</a>
            </li>
            <li>
                <a href="#adBanners">
                    Projects like HTML5 ad banners that utilize cdns to reduce file size
                </a>
            </li>
        </ol>
    </main>
</PageLayout>
