@use "../abstracts" as *;
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-title);
}

// TYPOGRAPHY
body {
    color: var(--clr-text);
}

body,
.fs-fluid-body {
    font-size: var(--fs-fluid-body);
}
h6,
.fs-fluid-h6 {
    font-size: var(--fs-fluid-h6);
}
h5,
.fs-fluid-h5 {
    font-size: var(--fs-fluid-h5);
}
h4,
.fs-fluid-h4 {
    font-size: var(--fs-fluid-h4);
}
h3,
.fs-fluid-h3 {
    font-size: var(--fs-fluid-h3);
}
h2,
.fs-fluid-h2 {
    font-size: var(--fs-fluid-h2);
}
h1,
.fs-fluid-h1 {
    font-size: var(--fs-fluid-h1);
}

.fs-fluid-display {
    font-size: var(--fs-fluid-display);
}
