@use "sass:map";
@use "../abstracts" as *;
// WRAPPER
// container class for limiting max width and centering horizontal elements.

// EXAMPLE USAGE:
// <div class="wrapper">...</div> --> child elements limited max width and centered
.wrapper {
    --_wrapper-gutter: #{rem(32)};
    --_wrapper-max-width: 1280px;
    max-width: min(100% - var(--_wrapper-gutter), 1280px);
    margin-inline: auto;
}
.wrapper-lg {
    --_wrapper-max-width: 1440px;
}
.wrapper-sm {
    --_wrapper-max-width: 800px;
}

// FLOW
// provides natural looking vertical rhythm and spacing for child text elements.

// use the local variable `--_flow-space` to customize spacing for specific elements.

// EXAMPLE USAGE:
// <div class="flow"><h1>...</h1><p>...</p></div> --> all child elements are spaced by 1em by default

// EXAMPLE USAGE: custom space
// <div class="flow"><h1>...</h1><p>...</p></div> -->
// p{--_flow-space: 2em;} --> all p child elements are spaced by 2em. rest of the elements are spaced by 1em by default.
.flow > * + * {
    --_flow-space: 1em;
    margin-block-start: var(--_flow-space, 1em);
}

// SECTION
// applies fluid padding to the top and bottom of the section
// SECTION SPACES MAP : @styles/abstracts/_spaces

$spaces: map.get($section-spaces, "spaces");
$viewport: map.get($section-spaces, "viewport");

@mixin section-padding($min-size, $max-size) {
    --_section-padding: #{clamp-calc(
            map.get($spaces, $min-size),
            map.get($spaces, $max-size),
            map.get($viewport, "min"),
            map.get($viewport, "max")
        )};
}

.section__padding {
    @include section-padding("md", "lg");

    padding-block: var(--_section-padding) var(--_section-padding);
}

// SIZE MODIFIERS
.section__padding--xs {
    @include section-padding("2xs", "xs");
}
.section__padding--sm {
    @include section-padding("xs", "sm");
}

.section__padding--lg {
    @include section-padding("lg", "xl");
}

// POSITION MODIFIERS
.section__padding--top {
    padding-block: var(--_section-padding) 0;
}

.section__padding--bottom {
    padding-block: 0 var(--_section-padding);
}
