@use "../abstracts" as *;
// Mapping from colors and fonts in /abstracts
:root {
    // COLORS
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    // BORDER
    --bdr-radius: #{rem(12)};
    // UI
    --clr-bg: var(--clr-stone-950);
    --clr-title: var(--clr-neutral-50);
    --clr-text: var(--clr-stone-300);
}
